/* основний колір фона:#FFFFFF */
/* другорядний колір фона: #0b1653 */
/* колір акцента #FFBC00 */

body {
  color: black;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1440px;
  /* outline: 2px solid tomato; */
}
/* Шапка сайту */
.nav-container.container {
  padding-top: 70px;
  padding-bottom: 70px;
}
h1 {
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 50px;
}
.nav.text {
  color: #ffffff;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #ffbc00;
}
.list {
  list-style: none;
}

header {
  background-color: #0b1653;
}

.nav.list {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 90px;
}
.nav.list .link:hover,
.nav.list .link:focus {
  color: #ffffff;
}
.main-nav-container {
  display: flex;
  justify-content: space-around;
}
.main-info {
  width: 600px;
}
