/* основний колір фона:#FFFFFF */
/* другорядний колір фона: #9c3d11 */
/* колір акцента #FFBC00 */

body {
  color: black;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.5;
  text-align: justify;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  padding-top: 70px;
  width: 1300px;
  outline: 2px solid green;
}
.section

/* .book-cover {
} */

/* Шапка сайту */
h1 {
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 50px;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 0;
}
.nav.text {
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.8;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.list {
  list-style: none;
}

header {
  background-color: #9c3d11;
}

.nav.list {
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}
.nav.list .link:hover,
.nav.list .link:focus {
  color: #0b1653;
}
.main-nav-container {
  display: flex;
  justify-content: space-around;
}
.main-info {
  width: 600px;
}

/* Практика мышления */
.thinking-practise {
  display: flex;
  justify-content: space-between;
}

/* Упражнения */
.exercises-container {
  display: flex;
  justify-content: space-between;
}

.exercises-text2 {
  margin-left: 70px;
}
/* итог */
.conclusion-container {
  display: flex;
  justify-content: space-between;
}
/* наша команда */
.team-title {
  color: black;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.team.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -150px;
  margin-bottom: -150px;
  padding: 0;
}
.team.list img {
  width: 300px;
}
.team.list li {
  padding: 10px;
  margin-right: 150px;
  margin-bottom: 150px;
  flex-basis: calc((100% - 3 * 150px) / 3);
  
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}